<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('partials/header.ejs') %>

   <h1>Pagina Inicial</h1> 
   <h2>Seja bem vindo</h2>

   <%- include('partials/footer.ejs') %>
   <%- include('partials/foot.ejs') %>

</body>
</html>